body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
    background-color: white;
    margin: auto;
}

a {
    color: crimson;
    text-decoration: none;
}

a:hover {
    color: cornsilk;
}

.topo {
    background-color: black;
    padding: auto;
}

.topo-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.topo-conteudo img{
    height: 60px;
    border-radius: 50px;
}

.apresentacao {
    text-align: center;
    padding: 60px 160px;
}

.botao {
    color: cornsilk;
    background-color: crimson;
    padding: 10px 10px;
    border-radius: 10em;
}

.produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}